name: Deploy to Firebase Hosting
on:
  push:
    branches:
      - main  # Change this to 'master' if your main branch is named master
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT}}'
          channelId: live
          projectId: clinichat-slh  # Double-check this matches your Firebase Project ID
